body {
  background-color: blue;
}

img {
  width: 50%;
  margin-left: 100px;
}

.wrapper {
  display: inline-block;
  padding-top: 100px;
}

.container {
  margin-left: 16px;
  margin-top: 16px;
}

ul {
  background-color: yellow;
}
